In [1]:
# импортируем pandas
import pandas as pd

# импортируем класс TSDataset
from etna.datasets.tsdataset import TSDataset
# импортируем классы для выполнения преобразований
from etna.transforms import (
    StandardScalerTransform,
    MeanTransform, 
    LagTransform,
    DateFlagsTransform)
# импортируем класс Pipeline для 
# выполнения цепочки преобразований
from etna.pipeline import Pipeline
# импортируем класс SMAPE для оценки качества прогнозов
from etna.metrics import SMAPE

# импортируем функцию train_and_evaluate_model() для
# быстрой оценки качества модели и собственный класс
# LGBMMultiSegmentModel
from etna_utils import (train_and_evaluate_model,
                        LGBMMultiSegmentModel)

# отключаем предупреждения
import warnings
warnings.filterwarnings('ignore')

/Users/artemgruzdev/anaconda3/lib/python3.10/site-packages/etna/settings.py:61: UserWarning: `tsfresh` is not available, to install it, run `pip install tsfresh==0.19.0 && pip install protobuf==3.20.1`
  warnings.warn(
<frozen importlib._bootstrap>:241: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
# загружаем исторический набор
df = pd.read_csv('Data/demand/train.csv', 
                 parse_dates=['date'])
# переименовываем date в timestamp, sales в target
df.rename(columns={'date': 'timestamp', 
                   'sales': 'target'}, inplace=True)
df

        timestamp  store  item  target
0      2013-01-01      1     1      13
1      2013-01-02      1     1      11
2      2013-01-03      1     1      14
3      2013-01-04      1     1      13
4      2013-01-05      1     1      10
...           ...    ...   ...     ...
912995 2017-12-27     10    50      63
912996 2017-12-28     10    50      59
912997 2017-12-29     10    50      74
912998 2017-12-30     10    50      62
912999 2017-12-31     10    50      82

[913000 rows x 4 columns]

In [3]:
# загружаем набор новых данных
df_new = pd.read_csv('Data/demand/test.csv', 
                     parse_dates=['date'])
# переименовываем date в timestamp
df_new.rename(columns={'date': 'timestamp'}, inplace=True)
ident = df_new['id']
df_new.drop('id', inplace=True, axis=1)
df_new

       timestamp  store  item
0     2018-01-01      1     1
1     2018-01-02      1     1
2     2018-01-03      1     1
3     2018-01-04      1     1
4     2018-01-05      1     1
...          ...    ...   ...
44995 2018-03-27     10    50
44996 2018-03-28     10    50
44997 2018-03-29     10    50
44998 2018-03-30     10    50
44999 2018-03-31     10    50

[45000 rows x 3 columns]

In [4]:
# создаем сегменты - комбинации продуктовой 
# группы и номера магазина
df['segment'] = (df['store'].astype(str) + ' + ' 
                 + df['item'].astype(str))
df_new['segment'] = (df_new['store'].astype(str) + ' + ' 
                     + df_new['item'].astype(str))
df.head()

   timestamp  store  item  target segment
0 2013-01-01      1     1      13   1 + 1
1 2013-01-02      1     1      11   1 + 1
2 2013-01-03      1     1      14   1 + 1
3 2013-01-04      1     1      13   1 + 1
4 2013-01-05      1     1      10   1 + 1

In [5]:
# присваиваем тип category столбцам store и item
for col in ['store', 'item']:
    df[col] = df[col].astype('category')
    df_new[col] = df_new[col].astype('category')

In [6]:
# формируем набор экзогенных переменных store и item
# для исторического периода
regressor_df = df[['timestamp', 'segment', 'store', 'item']].copy()
regressor_df

        timestamp  segment store item
0      2013-01-01    1 + 1     1    1
1      2013-01-02    1 + 1     1    1
2      2013-01-03    1 + 1     1    1
3      2013-01-04    1 + 1     1    1
4      2013-01-05    1 + 1     1    1
...           ...      ...   ...  ...
912995 2017-12-27  10 + 50    10   50
912996 2017-12-28  10 + 50    10   50
912997 2017-12-29  10 + 50    10   50
912998 2017-12-30  10 + 50    10   50
912999 2017-12-31  10 + 50    10   50

[913000 rows x 4 columns]

In [7]:
# формируем набор экзогенных переменных store и item
# для прогнозируемого периода
regressor_df_new = df_new.copy()
regressor_df_new

       timestamp store item  segment
0     2018-01-01     1    1    1 + 1
1     2018-01-02     1    1    1 + 1
2     2018-01-03     1    1    1 + 1
3     2018-01-04     1    1    1 + 1
4     2018-01-05     1    1    1 + 1
...          ...   ...  ...      ...
44995 2018-03-27    10   50  10 + 50
44996 2018-03-28    10   50  10 + 50
44997 2018-03-29    10   50  10 + 50
44998 2018-03-30    10   50  10 + 50
44999 2018-03-31    10   50  10 + 50

[45000 rows x 4 columns]

In [8]:
# сортируем признаки для последующей конкатенации
regressor_df = regressor_df.sort_index(
    axis=1, ascending=False)
regressor_df_new = regressor_df_new.sort_index(
    axis=1, ascending=False)

In [9]:
# конкатенируем набор с экзогенными переменными 
# для исторического периода и набор с экзогенными 
# переменными для прогнозируемого периода
regressor_df = pd.concat([regressor_df, regressor_df_new], axis=0)
# создаем новые экзогенные переменные
regressor_df['quarter'] = regressor_df['timestamp'].dt.quarter
regressor_df['quarter_start'] = regressor_df['timestamp'].dt.is_quarter_start
regressor_df['quarter_end'] = regressor_df['timestamp'].dt.is_quarter_end
regressor_df

       timestamp store  segment item  quarter  quarter_start  quarter_end
0     2013-01-01     1    1 + 1    1        1           True        False
1     2013-01-02     1    1 + 1    1        1          False        False
2     2013-01-03     1    1 + 1    1        1          False        False
3     2013-01-04     1    1 + 1    1        1          False        False
4     2013-01-05     1    1 + 1    1        1          False        False
...          ...   ...      ...  ...      ...            ...          ...
44995 2018-03-27    10  10 + 50   50        1          False        False
44996 2018-03-28    10  10 + 50   50        1          False        False
44997 2018-03-29    10  10 + 50   50        1          False        False
44998 2018-03-30    10  10 + 50   50        1          False        False
44999 2018-03-31    10  10 + 50   50        1          False         True

[958000 rows x 7 columns]

In [10]:
# подготавливаем исторический набор эндогенных переменных
df.drop(['store', 'item'], axis=1, inplace=True)
df

        timestamp  target  segment
0      2013-01-01      13    1 + 1
1      2013-01-02      11    1 + 1
2      2013-01-03      14    1 + 1
3      2013-01-04      13    1 + 1
4      2013-01-05      10    1 + 1
...           ...     ...      ...
912995 2017-12-27      63  10 + 50
912996 2017-12-28      59  10 + 50
912997 2017-12-29      74  10 + 50
912998 2017-12-30      62  10 + 50
912999 2017-12-31      82  10 + 50

[913000 rows x 3 columns]

In [11]:
# переводим исторический набор эндогенных 
# переменных в формат TSDataset
df = TSDataset.to_dataset(df)
df

segment,1 + 1,1 + 10,1 + 11,1 + 12,1 + 13,1 + 14,1 + 15,1 + 16,1 + 17,1 + 18,...,9 + 46,9 + 47,9 + 48,9 + 49,9 + 5,9 + 50,9 + 6,9 + 7,9 + 8,9 + 9
feature,target,target,target,target,target,target,target,target,target,target,...,target,target,target,target,target,target,target,target,target,target
timestamp,,,,,,,,,,,,,,,,,,,,,
2013-01-01,13,37,37,33,37,22,42,14,13,38,...,34,6,28,11,9,36,29,30,45,27
2013-01-02,11,34,43,35,31,35,33,11,18,51,...,28,14,38,16,11,44,33,24,43,36
2013-01-03,14,32,34,41,50,26,45,12,15,42,...,41,18,24,20,8,29,19,35,34,25
2013-01-04,13,45,52,45,45,32,39,15,19,50,...,41,15,30,19,15,43,33,35,41,31
2013-01-05,10,35,45,46,49,31,47,22,16,56,...,42,13,33,16,13,53,36,28,49,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-27,14,55,43,47,49,42,62,16,29,54,...,49,19,41,26,18,52,39,44,52,44
2017-12-28,19,63,64,49,68,51,82,24,13,69,...,42,23,36,37,18,73,56,54,76,48
2017-12-29,15,56,60,58,73,42,65,11,27,66,...,58,17,48,15,20,68,56,59,73,54
2017-12-30,27,78,66,52,70,57,77,28,32,67,...,49,24,55,31,21,62,54,67,74,59
2017-12-31,23,74,44,60,75,52,64,38,37,88,...,73,29,46,29,22,65,57,78,92,50

In [12]:
# переводим получившийся набор с экзогенными 
# переменными в формат TSDataset
regressor_df = TSDataset.to_dataset(regressor_df)
regressor_df

segment    1 + 1                                         1 + 10          \
feature     item quarter quarter_end quarter_start store   item quarter
timestamp
2013-01-01     1       1       False          True     1     10       1
2013-01-02     1       1       False         False     1     10       1
2013-01-03     1       1       False         False     1     10       1
2013-01-04     1       1       False         False     1     10       1
2013-01-05     1       1       False         False     1     10       1
...          ...     ...         ...           ...   ...    ...     ...
2018-03-27     1       1       False         False     1     10       1
2018-03-28     1       1       False         False     1     10       1
2018-03-29     1       1       False         False     1     10       1
2018-03-30     1       1       False         False     1     10       1
2018-03-31     1       1        True         False     1     10       1

segment                                     ... 9 + 8                      \
feature    quarter_end quarter_start store  ...  item quarter quarter_end
timestamp                                   ...
2013-01-01       False          True     1  ...     8       1       False
2013-01-02       False         False     1  ...     8       1       False
2013-01-03       False         False     1  ...     8       1       False
2013-01-04       False         False     1  ...     8       1       False
2013-01-05       False         False     1  ...     8       1       False
...                ...           ...   ...  ...   ...     ...         ...
2018-03-27       False         False     1  ...     8       1       False
2018-03-28       False         False     1  ...     8       1       False
2018-03-29       False         False     1  ...     8       1       False
2018-03-30       False         False     1  ...     8       1       False
2018-03-31        True         False     1  ...     8       1        True

segment                        9 + 9
feature    quarter_start store  item quarter quarter_end quarter_start store
timestamp
2013-01-01          True     9     9       1       False          True     9
2013-01-02         False     9     9       1       False         False     9
2013-01-03         False     9     9       1       False         False     9
2013-01-04         False     9     9       1       False         False     9
2013-01-05         False     9     9       1       False         False     9
...                  ...   ...   ...     ...         ...           ...   ...
2018-03-27         False     9     9       1       False         False     9
2018-03-28         False     9     9       1       False         False     9
2018-03-29         False     9     9       1       False         False     9
2018-03-30         False     9     9       1       False         False     9
2018-03-31         False     9     9       1        True         False     9

[1916 rows x 2500 columns]

In [13]:
# создаем объединенный набор
ts = TSDataset(df=df, freq='D', df_exog=regressor_df, 
               known_future='all')
ts

segment    1 + 1                                                1 + 10  \
feature     item quarter quarter_end quarter_start store target   item
timestamp
2013-01-01     1       1       False          True     1   13.0     10
2013-01-02     1       1       False         False     1   11.0     10
2013-01-03     1       1       False         False     1   14.0     10
2013-01-04     1       1       False         False     1   13.0     10
2013-01-05     1       1       False         False     1   10.0     10
...          ...     ...         ...           ...   ...    ...    ...
2017-12-27     1       4       False         False     1   14.0     10
2017-12-28     1       4       False         False     1   19.0     10
2017-12-29     1       4       False         False     1   15.0     10
2017-12-30     1       4       False         False     1   27.0     10
2017-12-31     1       4        True         False     1   23.0     10

segment                                       ...       9 + 8                \
feature    quarter quarter_end quarter_start  ... quarter_end quarter_start
timestamp                                     ...
2013-01-01       1       False          True  ...       False          True
2013-01-02       1       False         False  ...       False         False
2013-01-03       1       False         False  ...       False         False
2013-01-04       1       False         False  ...       False         False
2013-01-05       1       False         False  ...       False         False
...            ...         ...           ...  ...         ...           ...
2017-12-27       4       False         False  ...       False         False
2017-12-28       4       False         False  ...       False         False
2017-12-29       4       False         False  ...       False         False
2017-12-30       4       False         False  ...       False         False
2017-12-31       4        True         False  ...        True         False

segment                 9 + 9
feature    store target  item quarter quarter_end quarter_start store target
timestamp
2013-01-01     9   45.0     9       1       False          True     9   27.0
2013-01-02     9   43.0     9       1       False         False     9   36.0
2013-01-03     9   34.0     9       1       False         False     9   25.0
2013-01-04     9   41.0     9       1       False         False     9   31.0
2013-01-05     9   49.0     9       1       False         False     9   30.0
...          ...    ...   ...     ...         ...           ...   ...    ...
2017-12-27     9   52.0     9       4       False         False     9   44.0
2017-12-28     9   76.0     9       4       False         False     9   48.0
2017-12-29     9   73.0     9       4       False         False     9   54.0
2017-12-30     9   74.0     9       4       False         False     9   59.0
2017-12-31     9   92.0     9       4        True         False     9   50.0

[1826 rows x 3000 columns]

In [14]:
# создаем экземпляр класса StandardScalerTransform
scaler = StandardScalerTransform(in_column='target')

# создаем экземпляр класса LagTransform для генерации лагов
lags = LagTransform(in_column='target', 
                    lags=[90, 120, 150, 180, 210, 240, 
                          270, 300, 330, 360], 
                    out_column='lag')

# создаем экземпляры класса MeanTransform для 
# вычисления среднего по заданному окну
mean90 = MeanTransform(in_column='target', window=90, 
                        out_column='mean90')
mean180 = MeanTransform(in_column='target', window=180, 
                        out_column='mean180')
mean210 = MeanTransform(in_column='target', window=210, 
                        out_column='mean210')
mean240 = MeanTransform(in_column='target', window=240, 
                        out_column='mean240')
mean270 = MeanTransform(in_column='target', window=270, 
                        out_column='mean270')
mean360 = MeanTransform(in_column='target', window=360, 
                        out_column='mean360')

# создаем экземпляр класса DateFlagsTransform 
# для генерации признаков на основе дат
d_flags = DateFlagsTransform(day_number_in_year=True,
                             day_number_in_week=True,
                             day_number_in_month=True,
                             week_number_in_month=True,
                             week_number_in_year=True,
                             month_number_in_year=True,
                             season_number=True,
                             is_weekend=True,
                             out_column='datetime')

In [15]:
# задаем список преобразований/признаков
preprocess = [scaler, lags, mean90, mean180, mean210, mean240, 
              mean270, mean360, d_flags]

# задаем горизонт прогнозирования
HORIZON = 90

# создаем экземпляр класса SMAPE
smape = SMAPE()

# создаем модель LGBMMultiSegmentModel
lgbm_model = LGBMMultiSegmentModel(n_estimators=150, 
                                   learning_rate=0.1,
                                   num_leaves=10,
                                   min_data_in_leaf=120,
                                   subsample=0.8)
# обучаем модель и оцениваем ее качество
train_and_evaluate_model(
    ts=ts,
    model=lgbm_model,
    transforms=preprocess,
    horizon=HORIZON,
    metrics=smape,
    print_plots=False,
    print_metrics=True,
    n_train_samples=None)

[LightGBM] [Warning] min_data_in_leaf is set=120, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=120
3 + 16     12.799516
1 + 10     10.544702
8 + 38      8.566917
10 + 38     8.873962
3 + 26     11.089034
7 + 5      23.166617
2 + 9      10.018343
8 + 23     16.082412
8 + 16     14.104883
1 + 35      9.471480
10 + 23    13.004416
3 + 13      8.611766
1 + 40     15.403773
4 + 29      9.011282
5 + 13     12.229128
8 + 22      7.932302
9 + 48     10.331350
3 + 28      8.417337
9 + 16     15.098450
2 + 14      8.744621
7 + 47     19.314441
1 + 42     14.521090
10 + 12    10.005328
2 + 50      8.917700
7 + 34     18.024114
10 + 30    11.212032
10 + 1     12.855708
9 + 42     14.167873
1 + 29     10.019705
9 + 40     15.561494
6 + 41     19.273485
9 + 13      8.103392
4 + 35      8.942033
5 + 25     10.475857
2 + 19     10.395668
5 + 18      9.111384
10 + 21    11.774174
1 + 1      20.240698
4 + 21     14.184020
3 + 47     15.050271
6 + 30     13.200850
6 + 13     11.102748
6 + 35     10.436535
7 + 3      17.563190
3 + 34     14.945481
10 + 25     9.411859
4 + 40     14.366183
8 + 8       9.467614
3 + 12      9.353108
2 + 15      6.359503
1 + 11     11.068192
4 + 14      9.788912
8 + 37     12.406257
1 + 46     10.290027
6 + 27     17.858522
3 + 27     15.357976
9 + 49     13.782158
7 + 10     10.617098
9 + 45      8.128187
7 + 43     14.780576
10 + 31     9.180382
4 + 42     12.545830
6 + 32     14.983227
6 + 29     11.362905
9 + 22      9.136928
7 + 4      21.112641
6 + 23     19.707695
8 + 30     10.394733
10 + 7      7.973237
1 + 9      12.894851
9 + 36      9.092091
2 + 20      9.598660
9 + 33     10.346897
2 + 44     14.144155
1 + 5      19.795252
7 + 24     12.015655
8 + 47     15.191545
1 + 38      9.246448
8 + 48     10.590935
8 + 36      8.741513
4 + 17     12.985081
5 + 43     12.123943
8 + 2       8.975883
4 + 45      9.713322
6 + 19     15.042179
8 + 35     10.882581
9 + 17     16.195579
1 + 31     10.552700
10 + 37    13.342242
9 + 25      9.391270
10 + 13     7.784364
7 + 30     13.992863
4 + 2       9.905924
4 + 48     10.748871
1 + 43     13.116778
1 + 25     10.102423
1 + 47     16.220467
3 + 21     11.078152
7 + 35     11.917004
3 + 15      8.459565
1 + 30     11.293420
3 + 3      14.697955
3 + 22      7.888208
7 + 12     10.545454
8 + 9      11.087518
9 + 30     13.348489
1 + 41     20.567500
2 + 5      14.993769
6 + 6      11.978212
6 + 50     11.430744
2 + 49     10.799584
5 + 4      18.423163
7 + 19     14.771764
10 + 34    12.635398
2 + 4      14.481198
9 + 3      11.723542
4 + 37     15.089069
4 + 34     15.974951
9 + 27     16.938716
2 + 17     13.172754
9 + 23     16.380832
9 + 28      7.986094
10 + 35     9.382594
5 + 6      11.944536
2 + 38      8.849587
1 + 33     10.444240
10 + 32    10.089227
7 + 9      12.535621
8 + 18      7.745342
3 + 38      8.561480
4 + 30     12.482771
6 + 18     10.626610
3 + 42     14.272875
6 + 47     19.744168
5 + 19     12.114656
4 + 15      8.553656
6 + 43     12.171659
6 + 40     17.953542
8 + 27     14.498899
4 + 24      8.351076
9 + 38      9.652492
5 + 23     19.177222
3 + 10     10.299252
6 + 21     14.628301
9 + 46     10.104485
3 + 25      7.355410
1 + 24     10.627392
2 + 30     12.425147
7 + 33     11.874632
5 + 40     17.894223
2 + 42     10.665778
7 + 17     18.040110
9 + 10      9.477145
10 + 28     7.175723
6 + 46     11.470276
2 + 41     14.660282
5 + 37     18.800366
7 + 2      12.858358
10 + 44    11.901094
7 + 22     13.464344
4 + 47     15.971014
1 + 34     16.527450
4 + 50     10.758503
1 + 26     13.459114
8 + 14      9.747039
7 + 18      9.919820
4 + 22      9.090619
7 + 26     12.356364
9 + 47     17.340905
1 + 27     15.697188
5 + 11     11.483148
6 + 14     12.206585
5 + 17     15.234219
9 + 4      17.055427
2 + 26     11.428827
4 + 27     17.838994
8 + 34     14.883456
4 + 1      17.582014
9 + 32     11.832658
3 + 32     10.982276
3 + 39     11.332685
4 + 18      9.238296
4 + 25     10.116195
5 + 31     13.615070
5 + 41     22.182380
4 + 23     16.668499
7 + 27     23.435271
2 + 21     11.869945
7 + 41     23.173336
5 + 14     12.474302
10 + 45     8.084239
10 + 36     8.043845
6 + 33     11.255295
10 + 22     8.038882
5 + 12      9.956700
1 + 18      9.769109
7 + 25     11.320591
8 + 12      9.731566
4 + 11      9.839200
10 + 17    11.157158
1 + 14      9.455872
6 + 3      17.271992
6 + 37     15.529902
5 + 49     13.926325
9 + 8       8.764221
7 + 32     14.918402
1 + 2      10.104440
3 + 44     12.414888
9 + 7      10.484969
7 + 8      10.888313
4 + 31     11.073011
2 + 23     12.308191
3 + 37     14.187195
3 + 35      7.827898
3 + 33      8.542120
2 + 18      7.053525
5 + 36     11.010643
9 + 14     10.080837
1 + 28      9.346664
6 + 28      9.910343
3 + 11      9.500395
7 + 39     14.462826
7 + 13     11.174467
2 + 3      12.143822
3 + 29      9.532370
3 + 14      9.295823
9 + 18      9.318959
6 + 48     11.547642
10 + 20    10.351694
3 + 24     11.822874
3 + 48     10.234549
2 + 1      16.277036
4 + 20     10.502231
4 + 7      10.435815
9 + 11      9.092804
10 + 26    11.796983
5 + 42     14.267389
8 + 13      8.831589
8 + 40     13.466506
2 + 39      9.409843
9 + 19     12.510891
3 + 50      8.794543
10 + 11     9.254602
6 + 12     11.632666
8 + 24      9.139679
10 + 14     9.919202
8 + 49     12.812050
8 + 21     12.264601
7 + 21     14.513560
10 + 6     10.207994
3 + 1      14.561247
10 + 50     8.960798
8 + 1      15.164237
4 + 38      8.259726
5 + 34     19.188228
1 + 45      9.467684
10 + 48    10.834089
8 + 46      8.858172
1 + 36     10.469553
4 + 5      18.688027
8 + 20     10.475089
6 + 49     17.397417
5 + 28      9.632354
2 + 47     16.775938
9 + 9      11.169520
10 + 46    10.029658
6 + 20     13.296910
5 + 46     13.535718
9 + 24      8.996754
2 + 40     13.518559
2 + 36      9.082379
3 + 45      8.941781
8 + 3      11.919720
1 + 15      8.925078
4 + 36      8.874146
6 + 15     11.655087
8 + 42     12.710699
10 + 33     9.020612
5 + 21     14.568753
7 + 6      11.387800
6 + 42     16.265527
5 + 15      9.449975
2 + 12      8.706548
10 + 47    16.581398
8 + 31      8.115988
7 + 46     12.359106
1 + 22      8.615685
3 + 36      8.414887
7 + 40     17.050586
2 + 31      8.950872
3 + 9       9.187615
3 + 7       8.439348
4 + 49     13.025586
8 + 41     16.539927
7 + 38     13.422962
2 + 6      10.296090
1 + 50     10.294307
6 + 38     11.246998
1 + 37     18.309010
9 + 44     14.671853
2 + 45      8.751499
3 + 31      9.320684
2 + 25      8.957637
4 + 9      12.295304
5 + 16     17.541946
6 + 5      23.364531
9 + 37     16.354598
8 + 10      8.097014
7 + 50     10.471329
2 + 8       8.325744
8 + 45      8.448555
1 + 3      13.588384
10 + 16    14.728302
4 + 43     10.963337
7 + 16     18.937637
1 + 8      10.250113
7 + 49     20.601370
9 + 12      9.658018
9 + 20     10.523854
8 + 19     11.721682
10 + 4     18.489793
6 + 10      8.412695
7 + 14     11.848827
2 + 2       8.905562
2 + 34     14.402980
7 + 23     18.920340
8 + 11      8.625756
7 + 44     15.622109
9 + 39     11.638852
1 + 4      16.660534
1 + 44     16.692527
8 + 26     10.914541
4 + 33      8.798215
6 + 2      12.187239
5 + 35     10.357666
6 + 9      12.177545
7 + 7      11.291905
1 + 16     20.485094
4 + 3      12.656086
5 + 29     11.593409
7 + 37     17.890885
6 + 22     10.935646
9 + 15      8.206154
3 + 49     11.801933
5 + 32     14.349706
8 + 4      13.925580
7 + 45     10.582147
1 + 48     10.993417
9 + 31     11.497482
2 + 16     15.079856
7 + 31     11.142977
7 + 11     11.050873
3 + 41     14.489101
8 + 39     12.222531
6 + 24     11.835728
5 + 30     14.754667
10 + 15     8.224102
5 + 48     13.076891
5 + 2      12.960376
5 + 1      19.869429
3 + 17     14.563103
8 + 29      8.464268
2 + 35      8.480944
7 + 20     13.319001
3 + 46      9.073565
2 + 10     10.141908
3 + 6       8.686829
3 + 43     10.214867
8 + 7      11.652968
10 + 5     19.606624
3 + 19     12.668459
5 + 24     12.633417
10 + 49    15.258766
2 + 24      8.282916
9 + 26     10.549705
4 + 44     16.313746
8 + 5      15.720223
9 + 2       9.799196
1 + 20     12.763385
4 + 19     11.557518
6 + 17     15.934314
7 + 1      20.112428
5 + 22      9.288602
10 + 19    12.177637
9 + 34     15.530788
5 + 20     15.383276
6 + 39     11.092511
4 + 16     14.803294
8 + 15      8.185816
2 + 11      9.381053
8 + 44     11.862921
9 + 50      9.410367
8 + 32     11.431353
2 + 37     13.923024
9 + 43     12.100021
8 + 33      9.505309
9 + 35     10.123747
5 + 8      10.470253
4 + 28      9.785936
10 + 24     9.053113
4 + 12     10.057551
2 + 27     14.634253
7 + 42     17.080043
10 + 43    10.744203
10 + 9     11.222010
2 + 43      9.726516
4 + 8       9.292923
3 + 4      17.051512
6 + 7      12.538346
1 + 49     14.738227
5 + 50     11.653599
10 + 41    14.837362
2 + 29      9.003916
2 + 46      8.942636
5 + 9      14.988590
6 + 4      22.123808
9 + 6       9.167064
4 + 4      19.140521
5 + 38     10.001180
3 + 23     13.917080
4 + 39     12.525525
2 + 7       9.259647
6 + 26     14.149216
10 + 3     13.198511
2 + 32     12.082609
1 + 12      8.550013
4 + 32     10.504050
10 + 27    15.457998
6 + 8      10.297033
7 + 48     14.021482
8 + 17     11.793166
1 + 6      11.757957
4 + 10      9.326127
3 + 5      17.685714
10 + 42    12.126274
3 + 40     15.648159
10 + 40    14.445171
8 + 6       9.677133
10 + 2      9.846183
2 + 33      8.683588
2 + 28      8.221322
4 + 13      8.991173
2 + 13      7.456208
1 + 19     13.014145
9 + 1      14.055144
7 + 15      9.038655
6 + 31     11.437448
2 + 22      7.286091
1 + 13      9.103689
1 + 17     14.676726
6 + 45     11.033142
3 + 30     12.070283
8 + 43     10.092440
9 + 29     11.789622
6 + 36      9.657093
6 + 11     12.321702
9 + 41     19.202848
5 + 26     14.031400
3 + 18      9.246059
3 + 8       8.493762
10 + 39    11.577352
8 + 25      7.771304
8 + 50      8.447403
6 + 1      19.480330
6 + 16     14.675557
7 + 29     11.197114
9 + 5      17.606676
2 + 48      9.808910
7 + 36      9.876736
1 + 32     12.388754
4 + 46      9.778604
1 + 21     11.885407
10 + 10     9.877564
5 + 5      20.893648
1 + 7      12.469730
8 + 28      8.497026
5 + 33      9.878330
5 + 44     16.847846
5 + 10     10.438734
5 + 3      14.657237
10 + 18     7.282205
3 + 2       8.442283
1 + 39     14.791690
4 + 41     16.278862
5 + 7      11.221504
4 + 6      10.921646
5 + 27     21.779279
6 + 34     15.820713
10 + 29    10.395467
6 + 25      9.908239
5 + 39     15.119828
9 + 21     12.250907
7 + 28      9.634304
5 + 45     10.357621
4 + 26     11.562403
1 + 23     14.185578
5 + 47     20.996152
6 + 44     17.098676
10 + 8      9.048168
3 + 20     12.168002

Усредненная метрика:12.2648885055175

In [16]:
# создаем конвейер
pipe = Pipeline(
    model=lgbm_model,
    transforms=preprocess,
    horizon=HORIZON)
        
# находим метрики моделей по сегментам 
# по итогам перекрестной проверки
metrics_df, _, _ = pipe.backtest(
    mode='expand', 
    n_folds=4,
    ts=ts, 
    metrics=[smape], 
    aggregate_metrics=True,
    joblib_params=dict(backend='loky'))

[LightGBM] [Warning] min_data_in_leaf is set=120, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=120

In [17]:
# смотрим метрики по первым 8 сегментам
metrics_df.head(8)

  segment      SMAPE
0   1 + 1  18.315264
1  1 + 10  10.273194
2  1 + 11  10.049248
3  1 + 12  10.030497
4  1 + 13   9.160326
5  1 + 14  10.528913
6  1 + 15   9.019105
7  1 + 16  17.475485

In [18]:
# смотрим значение SMAPE, усредненное по сегментам
metric = metrics_df['SMAPE'].mean()
print(f'mean SMAPE: {metric:.4f}')

mean SMAPE: 12.1794

In [19]:
# выполняем преобразования всего исторического набора
ts.fit_transform(preprocess)

# обучаем модель на всем историческом наборе
lgbm_model.fit(ts)

# формируем набор, для которого нужно получить прогнозы,
# длина набора определяется горизонтом прогнозирования,
# по сути мы формируем набор новых данных
future_ts = ts.make_future(HORIZON, preprocess)

# получаем прогнозы для новых данных
forecast_ts = lgbm_model.forecast(future_ts)

# выполняем обратные преобразования прогнозов
forecast_ts.inverse_transform(preprocess)

[LightGBM] [Warning] min_data_in_leaf is set=120, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=120

In [20]:
# превращаем в обычный плоский датафрейм
forecast_ts = forecast_ts.to_pandas(flatten=True)
forecast_ts

,timestamp,segment,target,datetime_day_number_in_month,datetime_day_number_in_week,datetime_day_number_in_year,datetime_is_weekend,datetime_month_number_in_year,datetime_season_number,datetime_week_number_in_month,...,mean180,mean210,mean240,mean270,mean360,mean90,quarter,quarter_end,quarter_start,store
0,2018-01-01,1 + 1,12.584808,1,0,1,False,1,1,1,...,0.460990,0.568661,0.600874,0.584531,0.342744,0.054243,1,False,True,1
1,2018-01-02,1 + 1,13.893766,2,1,2,False,1,1,1,...,0.454386,0.569948,0.596523,0.583928,0.346177,0.063243,1,False,False,1
2,2018-01-03,1 + 1,14.081157,3,2,3,False,1,1,1,...,0.446869,0.566229,0.596518,0.584432,0.347135,0.063921,1,False,False,1
3,2018-01-04,1 + 1,15.214370,4,3,4,False,1,1,1,...,0.443482,0.564635,0.591482,0.586613,0.348932,0.066341,1,False,False,1
4,2018-01-05,1 + 1,15.898003,5,4,5,False,1,1,1,...,0.435817,0.570264,0.595876,0.589371,0.353664,0.063580,1,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,2018-03-27,9 + 9,50.130838,27,1,87,False,3,2,5,...,0.131325,0.228783,0.379544,0.562556,0.718444,-0.089464,1,False,False,9
44996,2018-03-28,9 + 9,51.442340,28,2,88,False,3,2,5,...,0.120750,0.222652,0.379913,0.559538,0.718684,0.015022,1,False,False,9
44997,2018-03-29,9 + 9,55.417310,29,3,89,False,3,2,5,...,0.110661,0.219666,0.378985,0.550685,0.723535,0.026021,1,False,False,9
44998,2018-03-30,9 + 9,58.642238,30,4,90,False,3,2,5,...,0.108328,0.209541,0.379793,0.553401,0.724526,-0.270939,1,False,False,9
44999,2018-03-31,9 + 9,61.367992,31,5,91,True,3,2,5,...,0.122074,0.194847,0.374453,0.549182,0.727236,0.000000,1,True,False,9

In [21]:
# формируем посылку
subm = (
    df_new.drop(['store', 'item'], axis=1)
    .merge(forecast_ts, on=['timestamp', 'segment'])
    ['target'].reset_index()
    .rename({'index': 'id', 'target': 'sales'}, axis=1)
    )
subm

          id      sales
0          0  12.584808
1          1  13.893766
2          2  14.081157
3          3  15.214370
4          4  15.898003
...      ...        ...
44995  44995  69.047680
44996  44996  71.076568
44997  44997  75.676394
44998  44998  80.229211
44999  44999  83.972049

[45000 rows x 2 columns]

In [22]:
# смотрим статистики
subm['sales'].describe()

count    45000.000000
mean        46.786958
std         23.189439
min          7.310673
25%         27.650760
50%         43.416620
75%         62.329634
max        134.331404
Name: sales, dtype: float64

In [23]:
# записываем посылку в CSV-файл
subm.to_csv('kaggle_store_item_demand_submission.csv', 
            index=False)

<img src='img/submit.png'>