In [1]:
!pip install etna[all]

Collecting etna[all]
  Using cached etna-1.15.1-py3-none-any.whl (273 kB)
Requirement already satisfied: typer<0.5.0,>=0.4.0 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.4.2)
Requirement already satisfied: ipywidgets<8.0.0,>=7.6.5 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (7.6.5)
Requirement already satisfied: loguru<0.6.0,>=0.5.3 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.5.3)
Requirement already satisfied: omegaconf<3.0.0,>=2.1.1 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (2.3.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.21.5)
Requirement already satisfied: pandas<2,>=1 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.5.3)
Requirement already satisfied: hydra-slayer<0.3.0,>=0.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.2.0)
Requirement already satisfied: Bottleneck<2.0.0,>=1.3.4 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.3.5)
Requirement already satisfied: seaborn<0.12.0,>=0.11.1 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.11.2)
Requirement already satisfied: ruptures==1.1.5 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.1.5)
Requirement already satisfied: typing_extensions in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (4.3.0)
Requirement already satisfied: tbats<2.0.0,>=1.1.0 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.1.2)
Requirement already satisfied: scikit-learn<2,>=0.24 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.0.2)
Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (5.9.0)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.1.0)
Requirement already satisfied: toml<0.11.0,>=0.10.2 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.10.2)
Requirement already satisfied: statsmodels<0.14,>=0.12 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.13.5)
Requirement already satisfied: types-Deprecated==1.2.9 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.2.9)
Requirement already satisfied: holidays<0.14,>=0.13 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.13)
Requirement already satisfied: Deprecated==1.2.13 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.2.13)
Requirement already satisfied: catboost>=0.21 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.1.1)
Requirement already satisfied: dill<0.4.0,>=0.3.4 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.3.4)
Requirement already satisfied: botocore in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.27.28)
Requirement already satisfied: numba<0.56.0,>=0.53.1 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.55.1)
Requirement already satisfied: pmdarima>=1.8.0 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (2.0.2)
Requirement already satisfied: scipy<1.8.0 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.7.3)
Requirement already satisfied: boto3<2.0,>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.24.28)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (3.5.2)
Requirement already satisfied: prophet<2.0,>=1.0 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.1)
Requirement already satisfied: pyts<0.13.0,>=0.12.0 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.12.0)
Requirement already satisfied: pytorch-forecasting<0.10.0,>=0.9.0 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.9.2)
Requirement already satisfied: optuna<3.0.0,>=2.5.0 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (2.10.1)
Requirement already satisfied: torch<1.12.0,>=1.8.0 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (1.11.0)
Requirement already satisfied: wandb<0.13.0,>=0.12.2 in /opt/anaconda3/lib/python3.9/site-packages (from etna[all]) (0.12.21)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/anaconda3/lib/python3.9/site-packages (from Deprecated==1.2.13->etna[all]) (1.14.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/anaconda3/lib/python3.9/site-packages (from boto3<2.0,>=1.5->etna[all]) (0.10.0)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/anaconda3/lib/python3.9/site-packages (from boto3<2.0,>=1.5->etna[all]) (0.6.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/anaconda3/lib/python3.9/site-packages (from botocore->etna[all]) (1.26.11)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/anaconda3/lib/python3.9/site-packages (from botocore->etna[all]) (2.8.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.9/site-packages (from catboost>=0.21->etna[all]) (1.16.0)
Requirement already satisfied: graphviz in /opt/anaconda3/lib/python3.9/site-packages (from catboost>=0.21->etna[all]) (0.20.1)
Requirement already satisfied: korean-lunar-calendar in /opt/anaconda3/lib/python3.9/site-packages (from holidays<0.14,>=0.13->etna[all]) (0.3.1)
Requirement already satisfied: convertdate>=2.3.0 in /opt/anaconda3/lib/python3.9/site-packages (from holidays<0.14,>=0.13->etna[all]) (2.4.0)
Requirement already satisfied: hijri-converter in /opt/anaconda3/lib/python3.9/site-packages (from holidays<0.14,>=0.13->etna[all]) (2.2.4)
Requirement already satisfied: nbformat>=4.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0.0,>=7.6.5->etna[all]) (5.5.0)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0.0,>=7.6.5->etna[all]) (6.15.2)
Requirement already satisfied: traitlets>=4.3.1 in /opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0.0,>=7.6.5->etna[all]) (5.1.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0.0,>=7.6.5->etna[all]) (1.0.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0.0,>=7.6.5->etna[all]) (3.5.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.2.0)
Requirement already satisfied: ipython>=4.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipywidgets<8.0.0,>=7.6.5->etna[all]) (7.31.1)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.9/site-packages (from numba<0.56.0,>=0.53.1->etna[all]) (63.4.1)
Requirement already satisfied: llvmlite<0.39,>=0.38.0rc1 in /opt/anaconda3/lib/python3.9/site-packages (from numba<0.56.0,>=0.53.1->etna[all]) (0.38.0)
Requirement already satisfied: PyYAML>=5.1.0 in /opt/anaconda3/lib/python3.9/site-packages (from omegaconf<3.0.0,>=2.1.1->etna[all]) (6.0)
Requirement already satisfied: antlr4-python3-runtime==4.9.* in /opt/anaconda3/lib/python3.9/site-packages (from omegaconf<3.0.0,>=2.1.1->etna[all]) (4.9.3)
Requirement already satisfied: sqlalchemy>=1.1.0 in /opt/anaconda3/lib/python3.9/site-packages (from optuna<3.0.0,>=2.5.0->etna[all]) (1.4.39)
Requirement already satisfied: alembic in /opt/anaconda3/lib/python3.9/site-packages (from optuna<3.0.0,>=2.5.0->etna[all]) (1.9.1)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.9/site-packages (from optuna<3.0.0,>=2.5.0->etna[all]) (21.3)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.9/site-packages (from optuna<3.0.0,>=2.5.0->etna[all]) (4.64.1)
Requirement already satisfied: cliff in /opt/anaconda3/lib/python3.9/site-packages (from optuna<3.0.0,>=2.5.0->etna[all]) (4.1.0)
Requirement already satisfied: cmaes>=0.8.2 in /opt/anaconda3/lib/python3.9/site-packages (from optuna<3.0.0,>=2.5.0->etna[all]) (0.9.1)
Requirement already satisfied: colorlog in /opt/anaconda3/lib/python3.9/site-packages (from optuna<3.0.0,>=2.5.0->etna[all]) (6.7.0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas<2,>=1->etna[all]) (2022.1)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /opt/anaconda3/lib/python3.9/site-packages (from pmdarima>=1.8.0->etna[all]) (0.29.32)
Requirement already satisfied: setuptools-git>=1.2 in /opt/anaconda3/lib/python3.9/site-packages (from prophet<2.0,>=1.0->etna[all]) (1.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in /opt/anaconda3/lib/python3.9/site-packages (from prophet<2.0,>=1.0->etna[all]) (0.0.9)
Requirement already satisfied: wheel>=0.37.0 in /opt/anaconda3/lib/python3.9/site-packages (from prophet<2.0,>=1.0->etna[all]) (0.37.1)
Requirement already satisfied: cmdstanpy>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from prophet<2.0,>=1.0->etna[all]) (1.0.8)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->etna[all]) (3.0.9)

Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->etna[all]) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->etna[all]) (4.25.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->etna[all]) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib->etna[all]) (9.2.0)
Requirement already satisfied: pytorch-lightning<2.0.0,>=1.2.4 in /opt/anaconda3/lib/python3.9/site-packages (from pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (1.8.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from scikit-learn<2,>=0.24->etna[all]) (2.2.0)
Requirement already satisfied: patsy>=0.5.2 in /opt/anaconda3/lib/python3.9/site-packages (from statsmodels<0.14,>=0.12->etna[all]) (0.5.2)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /opt/anaconda3/lib/python3.9/site-packages (from typer<0.5.0,>=0.4.0->etna[all]) (8.0.4)
Requirement already satisfied: docker-pycreds>=0.4.0 in /opt/anaconda3/lib/python3.9/site-packages (from wandb<0.13.0,>=0.12.2->etna[all]) (0.4.0)
Requirement already satisfied: pathtools in /opt/anaconda3/lib/python3.9/site-packages (from wandb<0.13.0,>=0.12.2->etna[all]) (0.1.2)
Requirement already satisfied: requests<3,>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from wandb<0.13.0,>=0.12.2->etna[all]) (2.28.1)
Requirement already satisfied: psutil>=5.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from wandb<0.13.0,>=0.12.2->etna[all]) (5.9.0)
Requirement already satisfied: sentry-sdk>=1.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from wandb<0.13.0,>=0.12.2->etna[all]) (1.12.1)
Requirement already satisfied: setproctitle in /opt/anaconda3/lib/python3.9/site-packages (from wandb<0.13.0,>=0.12.2->etna[all]) (1.3.2)
Requirement already satisfied: promise<3,>=2.0 in /opt/anaconda3/lib/python3.9/site-packages (from wandb<0.13.0,>=0.12.2->etna[all]) (2.3)
Requirement already satisfied: shortuuid>=0.5.0 in /opt/anaconda3/lib/python3.9/site-packages (from wandb<0.13.0,>=0.12.2->etna[all]) (1.0.11)
Requirement already satisfied: protobuf<4.0dev,>=3.12.0 in /opt/anaconda3/lib/python3.9/site-packages (from wandb<0.13.0,>=0.12.2->etna[all]) (3.20.1)
Requirement already satisfied: GitPython>=1.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from wandb<0.13.0,>=0.12.2->etna[all]) (3.1.30)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from plotly->etna[all]) (8.0.1)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /opt/anaconda3/lib/python3.9/site-packages (from convertdate>=2.3.0->holidays<0.14,>=0.13->etna[all]) (0.5.12)
Requirement already satisfied: gitdb<5,>=4.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from GitPython>=1.0.0->wandb<0.13.0,>=0.12.2->etna[all]) (4.0.10)
Requirement already satisfied: tornado>=6.1 in /opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0.0,>=7.6.5->etna[all]) (6.1)
Requirement already satisfied: pyzmq>=17 in /opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0.0,>=7.6.5->etna[all]) (23.2.0)
Requirement already satisfied: appnope in /opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.1.2)
Requirement already satisfied: nest-asyncio in /opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0.0,>=7.6.5->etna[all]) (1.5.5)
Requirement already satisfied: jupyter-client>=6.1.12 in /opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0.0,>=7.6.5->etna[all]) (7.3.4)
Requirement already satisfied: matplotlib-inline>=0.1 in /opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.1.6)
Requirement already satisfied: debugpy>=1.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets<8.0.0,>=7.6.5->etna[all]) (1.5.1)
Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (3.0.20)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (4.8.0)
Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.18.1)
Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (2.14.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=4.0.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (5.1.1)
Requirement already satisfied: ephem>=3.7.5.3 in /opt/anaconda3/lib/python3.9/site-packages (from LunarCalendar>=0.0.9->prophet<2.0,>=1.0->etna[all]) (4.1.4)
Requirement already satisfied: jupyter_core in /opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (4.11.1)
Requirement already satisfied: jsonschema>=2.6 in /opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (4.16.0)
Requirement already satisfied: fastjsonschema in /opt/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (2.16.2)
Requirement already satisfied: torchmetrics>=0.7.0 in /opt/anaconda3/lib/python3.9/site-packages (from pytorch-lightning<2.0.0,>=1.2.4->pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (0.11.0)
Requirement already satisfied: lightning-utilities!=0.4.0,>=0.3.0 in /opt/anaconda3/lib/python3.9/site-packages (from pytorch-lightning<2.0.0,>=1.2.4->pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (0.5.0)
Requirement already satisfied: fsspec[http]>2021.06.0 in /opt/anaconda3/lib/python3.9/site-packages (from pytorch-lightning<2.0.0,>=1.2.4->pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (2022.7.1)
Requirement already satisfied: tensorboardX>=2.2 in /opt/anaconda3/lib/python3.9/site-packages (from pytorch-lightning<2.0.0,>=1.2.4->pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (2.5.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.0.0->wandb<0.13.0,>=0.12.2->etna[all]) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.0.0->wandb<0.13.0,>=0.12.2->etna[all]) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/lib/python3.9/site-packages (from requests<3,>=2.0.0->wandb<0.13.0,>=0.12.2->etna[all]) (2.0.4)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=1.1.0->optuna<3.0.0,>=2.5.0->etna[all]) (1.1.1)
Requirement already satisfied: notebook>=4.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (6.4.12)
Requirement already satisfied: Mako in /opt/anaconda3/lib/python3.9/site-packages (from alembic->optuna<3.0.0,>=2.5.0->etna[all]) (1.2.4)
Requirement already satisfied: PrettyTable>=0.7.2 in /opt/anaconda3/lib/python3.9/site-packages (from cliff->optuna<3.0.0,>=2.5.0->etna[all]) (3.5.0)
Requirement already satisfied: importlib-metadata>=4.4 in /opt/anaconda3/lib/python3.9/site-packages (from cliff->optuna<3.0.0,>=2.5.0->etna[all]) (4.11.3)
Requirement already satisfied: stevedore>=2.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from cliff->optuna<3.0.0,>=2.5.0->etna[all]) (4.1.1)
Requirement already satisfied: cmd2>=1.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from cliff->optuna<3.0.0,>=2.5.0->etna[all]) (2.4.2)
Requirement already satisfied: autopage>=0.4.0 in /opt/anaconda3/lib/python3.9/site-packages (from cliff->optuna<3.0.0,>=2.5.0->etna[all]) (0.5.1)

Requirement already satisfied: attrs>=16.3.0 in /opt/anaconda3/lib/python3.9/site-packages (from cmd2>=1.0.0->cliff->optuna<3.0.0,>=2.5.0->etna[all]) (21.4.0)
Requirement already satisfied: wcwidth>=0.1.7 in /opt/anaconda3/lib/python3.9/site-packages (from cmd2>=1.0.0->cliff->optuna<3.0.0,>=2.5.0->etna[all]) (0.2.5)
Requirement already satisfied: pyperclip>=1.6 in /opt/anaconda3/lib/python3.9/site-packages (from cmd2>=1.0.0->cliff->optuna<3.0.0,>=2.5.0->etna[all]) (1.8.2)
Requirement already satisfied: aiohttp in /opt/anaconda3/lib/python3.9/site-packages (from fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.2.4->pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (3.8.3)
Requirement already satisfied: smmap<6,>=3.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from gitdb<5,>=4.0.1->GitPython>=1.0.0->wandb<0.13.0,>=0.12.2->etna[all]) (5.0.0)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda3/lib/python3.9/site-packages (from importlib-metadata>=4.4->cliff->optuna<3.0.0,>=2.5.0->etna[all]) (3.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.18.0)
Requirement already satisfied: entrypoints in /opt/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.4)
Requirement already satisfied: Send2Trash>=1.8.0 in /opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.13.1)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (3.1.2)
Requirement already satisfied: nbconvert>=5 in /opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (6.4.4)
Requirement already satisfied: prometheus-client in /opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.14.1)
Requirement already satisfied: argon2-cffi in /opt/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (21.3.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.7.0)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from stevedore>=2.0.1->cliff->optuna<3.0.0,>=2.5.0->etna[all]) (5.11.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /opt/anaconda3/lib/python3.9/site-packages (from Mako->alembic->optuna<3.0.0,>=2.5.0->etna[all]) (2.0.1)
Requirement already satisfied: jupyterlab-pygments in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.1.2)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (4.1.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.5.13)
Requirement already satisfied: testpath in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.6.0)
Requirement already satisfied: defusedxml in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.7.1)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (4.11.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.2.4->pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.2.4->pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (1.8.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.2.4->pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (4.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.2.4->pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (1.3.1)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/lib/python3.9/site-packages (from aiohttp->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.2.4->pytorch-forecasting<0.10.0,>=0.9.0->etna[all]) (1.3.3)
Requirement already satisfied: argon2-cffi-bindings in /opt/anaconda3/lib/python3.9/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (2.3.1)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (0.5.1)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets<8.0.0,>=7.6.5->etna[all]) (2.21)
Installing collected packages: etna
Successfully installed etna-1.15.1

In [2]:
# импортируем необходимые библиотеки, модули, классы и функции
import pandas as pd
import numpy as np
import re
from typing import List

from lightgbm import LGBMRegressor

from etna.pipeline import Pipeline
from etna.datasets.tsdataset import TSDataset
from etna.transforms import (
    StandardScalerTransform,
    MeanTransform, 
    LagTransform,
    DateFlagsTransform)
from etna.analysis import plot_forecast
from etna.metrics import SMAPE
from etna.models.base import (BaseAdapter, 
                              NonPredictionIntervalContextIgnorantAbstractModel)
from etna.models.mixins import (PerSegmentModelMixin,
                                MultiSegmentModelMixin,
                                NonPredictionIntervalContextIgnorantModelMixin)

# отключаем предупреждения
import warnings
warnings.filterwarnings('ignore')

/opt/anaconda3/lib/python3.9/site-packages/etna/settings.py:61: UserWarning: `tsfresh` is not available, to install it, run `pip install tsfresh==0.19.0 && pip install protobuf==3.20.1`
  warnings.warn(

In [3]:
# пишем функцию построения модели ETNA и оценки ее качества
def train_and_evaluate_model(ts, 
                             model,
                             transforms,
                             horizon,
                             metrics,
                             print_metrics=False,
                             print_plots=False,
                             n_train_samples=None):
    """
    Обучает модель, вычисляет прогнозы для 
    тестовой выборки и строит график прогнозов.  
    
    Параметры
    ----------
    ts: pandas.DataFrame
        Временной ряд.
    model: instance of class etna
        Экземпляр класса библиотеки etna.
    transforms: list
        Список преобразований.
    horizon: int
        Горизонт прогнозирования.
    metrics: instance of class etna.metrics.SMAPE/
        MAE/R2/MAPE/MedAE/MSLE   
        Метрика качества.
    print_metrics: bool, по умолчанию False
        Печать метрик.
    print_plots: bool, по умолчанию False
        Печать графиков прогнозов.
    n_train_sample: int
        n последних наблюдений обучающей выборки 
        на графике прогнозов.
    """
    if not print_plots and n_train_samples is not None:
        raise ValueError(
            "Параметр n_train_samples задается при print_plots=True")
        
    # разбиваем набор на обучающую и тестовую выборки 
    # с учетом временной структуры, размер тестовой 
    # выборки задаем равным горизонту
    train_ts, test_ts = ts.train_test_split(test_size=horizon)
    # создаем конвейер
    pipe = Pipeline(model=model,
                    transforms=transforms,
                    horizon=horizon)
    # обучаем конвейер
    pipe.fit(train_ts)
    # получаем прогнозы
    forecast_ts = pipe.forecast()
    # оцениваем качество прогнозов по сегментам
    segment_metrics = metrics(test_ts, forecast_ts)
    segment_metrics = pd.Series(segment_metrics)
    
    if print_metrics:
        print(segment_metrics.to_string())
        print("")
        # оцениваем качество прогнозов в среднем
        print(f"Усредненная метрика:"
              f"{sum(segment_metrics) / len(segment_metrics)}")
    
    if print_plots:
        # визуализируем прогнозы, здесь n_train_samples
        # - n последних наблюдений в обучающей выборке
        plot_forecast(forecast_ts, test_ts, 
                      train_ts, n_train_samples=n_train_samples)

# пишем ядро - внутренний класс _LGBMAdapter,
# внутри - класс LGBMRegressor
class _LGBMAdapter(BaseAdapter):
    def __init__(
        self,
        boosting_type='gbdt',
        num_leaves=31,
        max_depth=-1,
        learning_rate=0.1,
        n_estimators=100,
        **kwargs
    ):
        self.model = LGBMRegressor(
            boosting_type=boosting_type,
            num_leaves=num_leaves,
            max_depth=max_depth,
            learning_rate=learning_rate,
            n_estimators=n_estimators,
            **kwargs
        )
        self._categorical = None

    def fit(self, df: pd.DataFrame, regressors: List[str]):
        df = df.rename(columns=lambda x:re.sub('[^A-Za-z0-9_]+', '', x))
        features = df.drop(columns=['timestamp', 'target'])
        self._categorical = features.select_dtypes(
            include=['category']).columns.to_list()
        target = df['target']
        self.model.fit(X=features, y=target, 
                       categorical_feature=self._categorical)
        return self

    def predict(self, df: pd.DataFrame):
        features = df.drop(columns=['timestamp', 'target'])
        pred = self.model.predict(features)
        return pred
    
    def get_model(self) -> LGBMRegressor:
        return self.model

# пишем класс - модель LGBMMultiSegmentModel
class LGBMMultiSegmentModel(
    MultiSegmentModelMixin,
    NonPredictionIntervalContextIgnorantModelMixin,
    NonPredictionIntervalContextIgnorantAbstractModel):
    def __init__(
        self,
        boosting_type='gbdt',
        num_leaves=31,
        max_depth=-1,
        learning_rate=0.1,
        n_estimators=100,
        **kwargs
    ):
        self.boosting_type = boosting_type
        self.num_leaves = num_leaves
        self.max_depth = max_depth
        self.learning_rate = learning_rate
        self.n_estimators = n_estimators
        self.kwargs = kwargs
        super().__init__(
            base_model=_LGBMAdapter(
                boosting_type=boosting_type,
                num_leaves=num_leaves,
                max_depth=max_depth,
                learning_rate=learning_rate,
                n_estimators=n_estimators,
                **kwargs
            )
        )

In [4]:
# загружаем исторический набор
df = pd.read_csv('/kaggle/input/demand-forecasting-kernels-only/train.csv',
                 parse_dates=['date'])
# переименовываем date в timestamp, sales в target
df.rename(columns={'date': 'timestamp', 
                   'sales': 'target'}, inplace=True)
df

        timestamp  store  item  target
0      2013-01-01      1     1      13
1      2013-01-02      1     1      11
2      2013-01-03      1     1      14
3      2013-01-04      1     1      13
4      2013-01-05      1     1      10
...           ...    ...   ...     ...
912995 2017-12-27     10    50      63
912996 2017-12-28     10    50      59
912997 2017-12-29     10    50      74
912998 2017-12-30     10    50      62
912999 2017-12-31     10    50      82

[913000 rows x 4 columns]

In [5]:
# загружаем набор новых данных
df_new = pd.read_csv('/kaggle/input/demand-forecasting-kernels-only/test.csv', 
                     parse_dates=['date'])
# переименовываем date в timestamp
df_new.rename(columns={'date': 'timestamp'}, inplace=True)
ident = df_new['id']
df_new.drop('id', inplace=True, axis=1)
df_new

       timestamp  store  item
0     2018-01-01      1     1
1     2018-01-02      1     1
2     2018-01-03      1     1
3     2018-01-04      1     1
4     2018-01-05      1     1
...          ...    ...   ...
44995 2018-03-27     10    50
44996 2018-03-28     10    50
44997 2018-03-29     10    50
44998 2018-03-30     10    50
44999 2018-03-31     10    50

[45000 rows x 3 columns]

In [6]:
# создаем сегменты - комбинации продуктовой 
# группы и номера магазина
df['segment'] = (df['store'].astype(str) + ' + ' 
                 + df['item'].astype(str))
df_new['segment'] = (df_new['store'].astype(str) + ' + ' 
                     + df_new['item'].astype(str))
df.head()

   timestamp  store  item  target segment
0 2013-01-01      1     1      13   1 + 1
1 2013-01-02      1     1      11   1 + 1
2 2013-01-03      1     1      14   1 + 1
3 2013-01-04      1     1      13   1 + 1
4 2013-01-05      1     1      10   1 + 1

In [7]:
# присваиваем тип category столбцам store и item
for col in ['store', 'item']:
    df[col] = df[col].astype('category')
    df_new[col] = df_new[col].astype('category')

In [8]:
# формируем набор экзогенных переменных store и item
# для исторического периода
regressor_df = df[['timestamp', 'segment', 'store', 'item']].copy()
regressor_df

        timestamp  segment store item
0      2013-01-01    1 + 1     1    1
1      2013-01-02    1 + 1     1    1
2      2013-01-03    1 + 1     1    1
3      2013-01-04    1 + 1     1    1
4      2013-01-05    1 + 1     1    1
...           ...      ...   ...  ...
912995 2017-12-27  10 + 50    10   50
912996 2017-12-28  10 + 50    10   50
912997 2017-12-29  10 + 50    10   50
912998 2017-12-30  10 + 50    10   50
912999 2017-12-31  10 + 50    10   50

[913000 rows x 4 columns]

In [9]:
# формируем набор экзогенных переменных store и item
# для прогнозируемого периода
regressor_df_new = df_new.copy()
regressor_df_new

       timestamp store item  segment
0     2018-01-01     1    1    1 + 1
1     2018-01-02     1    1    1 + 1
2     2018-01-03     1    1    1 + 1
3     2018-01-04     1    1    1 + 1
4     2018-01-05     1    1    1 + 1
...          ...   ...  ...      ...
44995 2018-03-27    10   50  10 + 50
44996 2018-03-28    10   50  10 + 50
44997 2018-03-29    10   50  10 + 50
44998 2018-03-30    10   50  10 + 50
44999 2018-03-31    10   50  10 + 50

[45000 rows x 4 columns]

In [10]:
# сортируем признаки для последующей конкатенации
regressor_df = regressor_df.sort_index(axis=1, ascending=False)
regressor_df_new = regressor_df_new.sort_index(axis=1, ascending=False)

In [11]:
# конкатенируем набор с экзогенными переменными 
# для исторического периода и набор с экзогенными 
# переменными для прогнозируемого периода
regressor_df = pd.concat([regressor_df, regressor_df_new], axis=0)
# создаем новые внешние переменные
regressor_df['quarter'] = regressor_df['timestamp'].dt.quarter
regressor_df['quarter_start'] = regressor_df['timestamp'].dt.is_quarter_start
regressor_df['quarter_end'] = regressor_df['timestamp'].dt.is_quarter_end
regressor_df

       timestamp store  segment item  quarter  quarter_start  quarter_end
0     2013-01-01     1    1 + 1    1        1           True        False
1     2013-01-02     1    1 + 1    1        1          False        False
2     2013-01-03     1    1 + 1    1        1          False        False
3     2013-01-04     1    1 + 1    1        1          False        False
4     2013-01-05     1    1 + 1    1        1          False        False
...          ...   ...      ...  ...      ...            ...          ...
44995 2018-03-27    10  10 + 50   50        1          False        False
44996 2018-03-28    10  10 + 50   50        1          False        False
44997 2018-03-29    10  10 + 50   50        1          False        False
44998 2018-03-30    10  10 + 50   50        1          False        False
44999 2018-03-31    10  10 + 50   50        1          False         True

[958000 rows x 7 columns]

In [12]:
# подготавливаем исторический набор эндогенных переменных
df.drop(['store', 'item'], axis=1, inplace=True)
df

        timestamp  target  segment
0      2013-01-01      13    1 + 1
1      2013-01-02      11    1 + 1
2      2013-01-03      14    1 + 1
3      2013-01-04      13    1 + 1
4      2013-01-05      10    1 + 1
...           ...     ...      ...
912995 2017-12-27      63  10 + 50
912996 2017-12-28      59  10 + 50
912997 2017-12-29      74  10 + 50
912998 2017-12-30      62  10 + 50
912999 2017-12-31      82  10 + 50

[913000 rows x 3 columns]

In [13]:
# переводим исторический набор эндогенных 
# переменных в формат TSDataset
df = TSDataset.to_dataset(df)
df

segment,1 + 1,1 + 10,1 + 11,1 + 12,1 + 13,1 + 14,1 + 15,1 + 16,1 + 17,1 + 18,...,9 + 46,9 + 47,9 + 48,9 + 49,9 + 5,9 + 50,9 + 6,9 + 7,9 + 8,9 + 9
feature,target,target,target,target,target,target,target,target,target,target,...,target,target,target,target,target,target,target,target,target,target
timestamp,,,,,,,,,,,,,,,,,,,,,
2013-01-01,13,37,37,33,37,22,42,14,13,38,...,34,6,28,11,9,36,29,30,45,27
2013-01-02,11,34,43,35,31,35,33,11,18,51,...,28,14,38,16,11,44,33,24,43,36
2013-01-03,14,32,34,41,50,26,45,12,15,42,...,41,18,24,20,8,29,19,35,34,25
2013-01-04,13,45,52,45,45,32,39,15,19,50,...,41,15,30,19,15,43,33,35,41,31
2013-01-05,10,35,45,46,49,31,47,22,16,56,...,42,13,33,16,13,53,36,28,49,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-27,14,55,43,47,49,42,62,16,29,54,...,49,19,41,26,18,52,39,44,52,44
2017-12-28,19,63,64,49,68,51,82,24,13,69,...,42,23,36,37,18,73,56,54,76,48
2017-12-29,15,56,60,58,73,42,65,11,27,66,...,58,17,48,15,20,68,56,59,73,54
2017-12-30,27,78,66,52,70,57,77,28,32,67,...,49,24,55,31,21,62,54,67,74,59
2017-12-31,23,74,44,60,75,52,64,38,37,88,...,73,29,46,29,22,65,57,78,92,50

In [14]:
# переводим получившийся набор с экзогенными 
# переменными в формат TSDataset
regressor_df = TSDataset.to_dataset(regressor_df)
regressor_df

segment    1 + 1                                         1 + 10          \
feature     item quarter quarter_end quarter_start store   item quarter
timestamp
2013-01-01     1       1       False          True     1     10       1
2013-01-02     1       1       False         False     1     10       1
2013-01-03     1       1       False         False     1     10       1
2013-01-04     1       1       False         False     1     10       1
2013-01-05     1       1       False         False     1     10       1
...          ...     ...         ...           ...   ...    ...     ...
2018-03-27     1       1       False         False     1     10       1
2018-03-28     1       1       False         False     1     10       1
2018-03-29     1       1       False         False     1     10       1
2018-03-30     1       1       False         False     1     10       1
2018-03-31     1       1        True         False     1     10       1

segment                                     ... 9 + 8                      \
feature    quarter_end quarter_start store  ...  item quarter quarter_end
timestamp                                   ...
2013-01-01       False          True     1  ...     8       1       False
2013-01-02       False         False     1  ...     8       1       False
2013-01-03       False         False     1  ...     8       1       False
2013-01-04       False         False     1  ...     8       1       False
2013-01-05       False         False     1  ...     8       1       False
...                ...           ...   ...  ...   ...     ...         ...
2018-03-27       False         False     1  ...     8       1       False
2018-03-28       False         False     1  ...     8       1       False
2018-03-29       False         False     1  ...     8       1       False
2018-03-30       False         False     1  ...     8       1       False
2018-03-31        True         False     1  ...     8       1        True

segment                        9 + 9
feature    quarter_start store  item quarter quarter_end quarter_start store
timestamp
2013-01-01          True     9     9       1       False          True     9
2013-01-02         False     9     9       1       False         False     9
2013-01-03         False     9     9       1       False         False     9
2013-01-04         False     9     9       1       False         False     9
2013-01-05         False     9     9       1       False         False     9
...                  ...   ...   ...     ...         ...           ...   ...
2018-03-27         False     9     9       1       False         False     9
2018-03-28         False     9     9       1       False         False     9
2018-03-29         False     9     9       1       False         False     9
2018-03-30         False     9     9       1       False         False     9
2018-03-31         False     9     9       1        True         False     9

[1916 rows x 2500 columns]

In [15]:
# создаем объединенный набор
ts = TSDataset(df=df, freq='D', df_exog=regressor_df, 
               known_future='all')
ts

segment    1 + 1                                                1 + 10  \
feature     item quarter quarter_end quarter_start store target   item
timestamp
2013-01-01     1       1       False          True     1   13.0     10
2013-01-02     1       1       False         False     1   11.0     10
2013-01-03     1       1       False         False     1   14.0     10
2013-01-04     1       1       False         False     1   13.0     10
2013-01-05     1       1       False         False     1   10.0     10
...          ...     ...         ...           ...   ...    ...    ...
2017-12-27     1       4       False         False     1   14.0     10
2017-12-28     1       4       False         False     1   19.0     10
2017-12-29     1       4       False         False     1   15.0     10
2017-12-30     1       4       False         False     1   27.0     10
2017-12-31     1       4        True         False     1   23.0     10

segment                                       ...       9 + 8                \
feature    quarter quarter_end quarter_start  ... quarter_end quarter_start
timestamp                                     ...
2013-01-01       1       False          True  ...       False          True
2013-01-02       1       False         False  ...       False         False
2013-01-03       1       False         False  ...       False         False
2013-01-04       1       False         False  ...       False         False
2013-01-05       1       False         False  ...       False         False
...            ...         ...           ...  ...         ...           ...
2017-12-27       4       False         False  ...       False         False
2017-12-28       4       False         False  ...       False         False
2017-12-29       4       False         False  ...       False         False
2017-12-30       4       False         False  ...       False         False
2017-12-31       4        True         False  ...        True         False

segment                 9 + 9
feature    store target  item quarter quarter_end quarter_start store target
timestamp
2013-01-01     9   45.0     9       1       False          True     9   27.0
2013-01-02     9   43.0     9       1       False         False     9   36.0
2013-01-03     9   34.0     9       1       False         False     9   25.0
2013-01-04     9   41.0     9       1       False         False     9   31.0
2013-01-05     9   49.0     9       1       False         False     9   30.0
...          ...    ...   ...     ...         ...           ...   ...    ...
2017-12-27     9   52.0     9       4       False         False     9   44.0
2017-12-28     9   76.0     9       4       False         False     9   48.0
2017-12-29     9   73.0     9       4       False         False     9   54.0
2017-12-30     9   74.0     9       4       False         False     9   59.0
2017-12-31     9   92.0     9       4        True         False     9   50.0

[1826 rows x 3000 columns]

In [16]:
# создаем экземпляр класса StandardScalerTransform
scaler = StandardScalerTransform(in_column='target')

# создаем экземпляр класса LagTransform для генерации лагов
lags = LagTransform(in_column='target', 
                    lags=[90, 120, 150, 180, 210, 240, 
                          270, 300, 330, 360], 
                    out_column='lag')

# создаем экземпляры класса MeanTransform для 
# вычисления среднего по заданному окну
mean90 = MeanTransform(in_column='target', window=90, 
                        out_column='mean90')
mean180 = MeanTransform(in_column='target', window=180, 
                        out_column='mean180')
mean210 = MeanTransform(in_column='target', window=210, 
                        out_column='mean210')
mean240 = MeanTransform(in_column='target', window=240, 
                        out_column='mean240')
mean270 = MeanTransform(in_column='target', window=270, 
                        out_column='mean270')
mean360 = MeanTransform(in_column='target', window=360, 
                        out_column='mean360')

# создаем экземпляр класса DateFlagsTransform 
# для генерации признаков на основе дат
d_flags = DateFlagsTransform(day_number_in_year=True,
                             day_number_in_week=True,
                             day_number_in_month=True,
                             week_number_in_month=True,
                             week_number_in_year=True,
                             month_number_in_year=True,
                             season_number=True,
                             is_weekend=True,
                             out_column='datetime')

In [17]:
# задаем горизонт прогнозирования
HORIZON = 90

# создаем экземпляр класса SMAPE
smape = SMAPE()

# задаем список преобразований/признаков
preprocess = [scaler, 
              lags, mean90, mean180, mean210, mean240, 
              mean270, 
              mean360, 
              d_flags]

# создаем модель LGBMMultiSegmentModel
lgbm_model = LGBMMultiSegmentModel(n_estimators=150, 
                                   learning_rate=0.1,
                                   num_leaves=10,
                                   min_data_in_leaf=120,
                                   subsample=0.8)
# оцениваем качество модели
train_and_evaluate_model(
    ts=ts,
    model=lgbm_model,
    transforms=preprocess,
    horizon=HORIZON,
    metrics=smape,
    print_plots=False,
    print_metrics=True,
    n_train_samples=None)

[LightGBM] [Warning] min_data_in_leaf is set=120, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=120
9 + 11      9.092804
2 + 16     15.079856
10 + 40    14.445171
7 + 21     14.513560
5 + 30     14.754667
9 + 13      8.103392
1 + 37     18.309010
9 + 32     11.832658
9 + 50      9.410367
8 + 47     15.191545
2 + 27     14.634253
6 + 44     17.098676
9 + 29     11.789622
1 + 11     11.068192
9 + 39     11.638852
7 + 31     11.142977
9 + 7      10.484969
8 + 19     11.721682
9 + 10      9.477145
4 + 42     12.545830
7 + 3      17.563190
5 + 37     18.800366
4 + 44     16.313746
6 + 19     15.042179
8 + 10      8.097014
5 + 45     10.357621
2 + 22      7.286091
2 + 8       8.325744
9 + 49     13.782158
4 + 25     10.116195
5 + 14     12.474302
8 + 20     10.475089
8 + 24      9.139679
8 + 8       9.467614
10 + 5     19.606624
7 + 2      12.858358
9 + 35     10.123747
1 + 33     10.444240
7 + 35     11.917004
5 + 46     13.535718
6 + 25      9.908239
10 + 13     7.784364
5 + 39     15.119828
4 + 10      9.326127
4 + 21     14.184020
4 + 1      17.582014
7 + 30     13.992863
8 + 29      8.464268
9 + 37     16.354598
2 + 29      9.003916
2 + 20      9.598660
8 + 1      15.164237
8 + 36      8.741513
1 + 10     10.544702
6 + 7      12.538346
6 + 38     11.246998
5 + 10     10.438734
6 + 50     11.430744
1 + 2      10.104440
1 + 48     10.993417
8 + 14      9.747039
9 + 1      14.055144
3 + 16     12.799516
2 + 39      9.409843
1 + 29     10.019705
10 + 33     9.020612
2 + 40     13.518559
9 + 23     16.380832
8 + 38      8.566917
8 + 27     14.498899
3 + 29      9.532370
7 + 42     17.080043
2 + 32     12.082609
5 + 20     15.383276
8 + 49     12.812050
9 + 40     15.561494
2 + 9      10.018343
9 + 19     12.510891
5 + 41     22.182380
10 + 24     9.053113
9 + 45      8.128187
3 + 1      14.561247
10 + 27    15.457998
4 + 50     10.758503
3 + 4      17.051512
7 + 33     11.874632
9 + 34     15.530788
3 + 22      7.888208
3 + 38      8.561480
10 + 18     7.282205
4 + 8       9.292923
5 + 40     17.894223
6 + 31     11.437448
7 + 9      12.535621
3 + 18      9.246059
4 + 41     16.278862
1 + 41     20.567500
6 + 29     11.362905
6 + 12     11.632666
3 + 13      8.611766
9 + 6       9.167064
4 + 5      18.688027
7 + 45     10.582147
3 + 31      9.320684
3 + 39     11.332685
7 + 23     18.920340
8 + 37     12.406257
10 + 20    10.351694
2 + 18      7.053525
4 + 15      8.553656
3 + 19     12.668459
10 + 10     9.877564
4 + 24      8.351076
7 + 39     14.462826
7 + 34     18.024114
1 + 50     10.294307
9 + 8       8.764221
1 + 30     11.293420
7 + 49     20.601370
10 + 42    12.126274
8 + 23     16.082412
10 + 38     8.873962
1 + 12      8.550013
9 + 9      11.169520
6 + 8      10.297033
6 + 28      9.910343
3 + 9       9.187615
6 + 2      12.187239
8 + 21     12.264601
8 + 4      13.925580
3 + 2       8.442283
8 + 28      8.497026
2 + 35      8.480944
4 + 39     12.525525
2 + 28      8.221322
10 + 45     8.084239
1 + 22      8.615685
8 + 6       9.677133
10 + 21    11.774174
3 + 48     10.234549
4 + 7      10.435815
4 + 35      8.942033
2 + 49     10.799584
6 + 37     15.529902
4 + 6      10.921646
4 + 19     11.557518
5 + 25     10.475857
8 + 45      8.448555
7 + 48     14.021482
9 + 42     14.167873
5 + 6      11.944536
9 + 2       9.799196
1 + 43     13.116778
6 + 23     19.707695
5 + 24     12.633417
5 + 12      9.956700
7 + 29     11.197114
6 + 40     17.953542
2 + 38      8.849587
4 + 30     12.482771
10 + 44    11.901094
10 + 30    11.212032
4 + 4      19.140521
6 + 42     16.265527
8 + 13      8.831589
4 + 18      9.238296
10 + 47    16.581398
6 + 21     14.628301
4 + 46      9.778604
1 + 40     15.403773
2 + 46      8.942636
10 + 31     9.180382
1 + 23     14.185578
1 + 15      8.925078
3 + 33      8.542120
8 + 12      9.731566
1 + 25     10.102423
3 + 7       8.439348
4 + 47     15.971014
1 + 20     12.763385
7 + 20     13.319001
4 + 40     14.366183
4 + 43     10.963337
10 + 26    11.796983
2 + 25      8.957637
5 + 31     13.615070
8 + 16     14.104883
5 + 11     11.483148
3 + 3      14.697955
4 + 28      9.785936
7 + 24     12.015655
9 + 44     14.671853
1 + 16     20.485094
6 + 13     11.102748
5 + 35     10.357666
7 + 1      20.112428
8 + 11      8.625756
7 + 10     10.617098
7 + 25     11.320591
10 + 4     18.489793
1 + 39     14.791690
9 + 25      9.391270
7 + 46     12.359106
9 + 24      8.996754
6 + 47     19.744168
5 + 13     12.229128
8 + 41     16.539927
1 + 1      20.240698
8 + 33      9.505309
9 + 48     10.331350
10 + 35     9.382594
5 + 22      9.288602
4 + 33      8.798215
1 + 35      9.471480
2 + 48      9.808910
8 + 22      7.932302
2 + 21     11.869945
6 + 1      19.480330
7 + 50     10.471329
8 + 26     10.914541
7 + 32     14.918402
1 + 5      19.795252
10 + 48    10.834089
2 + 37     13.923024
7 + 16     18.937637
8 + 18      7.745342
8 + 43     10.092440
9 + 22      9.136928
4 + 49     13.025586
2 + 13      7.456208
2 + 11      9.381053
4 + 9      12.295304
3 + 30     12.070283
10 + 3     13.198511
9 + 20     10.523854
2 + 5      14.993769
3 + 26     11.089034
6 + 17     15.934314
7 + 19     14.771764
4 + 12     10.057551
9 + 16     15.098450
3 + 20     12.168002
3 + 50      8.794543
6 + 33     11.255295
6 + 32     14.983227
10 + 46    10.029658
7 + 47     19.314441
8 + 46      8.858172
3 + 21     11.078152
3 + 5      17.685714
6 + 5      23.364531
7 + 26     12.356364
1 + 3      13.588384
6 + 6      11.978212
5 + 49     13.926325
1 + 44     16.692527
10 + 28     7.175723
4 + 14      9.788912
7 + 43     14.780576
8 + 50      8.447403
9 + 46     10.104485
2 + 50      8.917700
10 + 11     9.254602
8 + 5      15.720223
9 + 36      9.092091
10 + 7      7.973237
7 + 6      11.387800
7 + 37     17.890885
1 + 9      12.894851
7 + 18      9.919820
8 + 7      11.652968
4 + 3      12.656086
5 + 4      18.423163
7 + 22     13.464344
1 + 38      9.246448
4 + 16     14.803294
5 + 36     11.010643
9 + 17     16.195579
7 + 8      10.888313
2 + 36      9.082379
3 + 25      7.355410
6 + 9      12.177545
7 + 41     23.173336
9 + 31     11.497482
5 + 27     21.779279
4 + 38      8.259726
1 + 26     13.459114
5 + 2      12.960376
2 + 34     14.402980
7 + 13     11.174467
5 + 19     12.114656
10 + 12    10.005328
3 + 8       8.493762
4 + 45      9.713322
6 + 48     11.547642
3 + 6       8.686829
9 + 15      8.206154
1 + 46     10.290027
4 + 31     11.073011
4 + 17     12.985081
1 + 6      11.757957
10 + 17    11.157158
5 + 50     11.653599
8 + 30     10.394733
9 + 12      9.658018
5 + 48     13.076891
8 + 2       8.975883
10 + 9     11.222010
3 + 14      9.295823
3 + 43     10.214867
2 + 26     11.428827
4 + 32     10.504050
6 + 39     11.092511
2 + 2       8.905562
9 + 26     10.549705
1 + 8      10.250113
7 + 28      9.634304
6 + 46     11.470276
2 + 42     10.665778
3 + 47     15.050271
2 + 1      16.277036
2 + 6      10.296090
1 + 7      12.469730
2 + 33      8.683588
5 + 23     19.177222
5 + 33      9.878330
4 + 2       9.905924
1 + 13      9.103689
10 + 19    12.177637
6 + 27     17.858522
3 + 17     14.563103
5 + 38     10.001180
7 + 36      9.876736
9 + 28      7.986094
9 + 41     19.202848
6 + 22     10.935646
3 + 46      9.073565
7 + 11     11.050873
8 + 9      11.087518
2 + 43      9.726516
6 + 43     12.171659
7 + 4      21.112641
8 + 34     14.883456
10 + 25     9.411859
4 + 36      8.874146
6 + 18     10.626610
3 + 12      9.353108
1 + 19     13.014145
1 + 36     10.469553
9 + 30     13.348489
2 + 12      8.706548
9 + 27     16.938716
6 + 11     12.321702
10 + 1     12.855708
1 + 21     11.885407
8 + 25      7.771304
2 + 19     10.395668
2 + 41     14.660282
9 + 21     12.250907
3 + 40     15.648159
8 + 15      8.185816
2 + 45      8.751499
5 + 44     16.847846
1 + 24     10.627392
1 + 49     14.738227
8 + 48     10.590935
2 + 7       9.259647
7 + 7      11.291905
5 + 26     14.031400
9 + 5      17.606676
5 + 32     14.349706
5 + 5      20.893648
3 + 24     11.822874
8 + 17     11.793166
1 + 17     14.676726
8 + 40     13.466506
8 + 31      8.115988
6 + 30     13.200850
1 + 18      9.769109
4 + 11      9.839200
2 + 23     12.308191
4 + 48     10.748871
5 + 42     14.267389
6 + 10      8.412695
10 + 15     8.224102
10 + 41    14.837362
10 + 50     8.960798
9 + 38      9.652492
3 + 34     14.945481
10 + 49    15.258766
4 + 27     17.838994
4 + 34     15.974951
6 + 35     10.436535
1 + 4      16.660534
6 + 49     17.397417
3 + 15      8.459565
2 + 4      14.481198
5 + 34     19.188228
7 + 14     11.848827
1 + 45      9.467684
2 + 47     16.775938
6 + 15     11.655087
2 + 15      6.359503
7 + 15      9.038655
9 + 3      11.723542
9 + 47     17.340905
10 + 8      9.048168
5 + 1      19.869429
9 + 4      17.055427
3 + 36      8.414887
8 + 39     12.222531
3 + 41     14.489101
6 + 45     11.033142
2 + 30     12.425147
9 + 14     10.080837
7 + 17     18.040110
10 + 16    14.728302
5 + 16     17.541946
6 + 20     13.296910
3 + 35      7.827898
7 + 38     13.422962
1 + 27     15.697188
1 + 28      9.346664
5 + 8      10.470253
3 + 10     10.299252
8 + 42     12.710699
7 + 12     10.545454
1 + 32     12.388754
10 + 32    10.089227
6 + 36      9.657093
4 + 26     11.562403
6 + 16     14.675557
4 + 37     15.089069
5 + 9      14.988590
9 + 33     10.346897
3 + 44     12.414888
2 + 31      8.950872
10 + 29    10.395467
3 + 49     11.801933
5 + 7      11.221504
6 + 3      17.271992
4 + 23     16.668499
6 + 14     12.206585
3 + 45      8.941781
10 + 14     9.919202
1 + 42     14.521090
10 + 2      9.846183
2 + 10     10.141908
1 + 47     16.220467
2 + 14      8.744621
2 + 17     13.172754
5 + 17     15.234219
5 + 28      9.632354
3 + 32     10.982276
9 + 18      9.318959
7 + 27     23.435271
8 + 3      11.919720
8 + 35     10.882581
6 + 24     11.835728
5 + 29     11.593409
6 + 41     19.273485
3 + 27     15.357976
6 + 4      22.123808
5 + 47     20.996152
3 + 28      8.417337
2 + 3      12.143822
4 + 20     10.502231
1 + 31     10.552700
9 + 43     12.100021
5 + 21     14.568753
10 + 43    10.744203
5 + 18      9.111384
7 + 40     17.050586
2 + 44     14.144155
4 + 22      9.090619
3 + 11      9.500395
5 + 3      14.657237
7 + 5      23.166617
3 + 23     13.917080
6 + 34     15.820713
10 + 6     10.207994
7 + 44     15.622109
10 + 36     8.043845
2 + 24      8.282916
8 + 32     11.431353
10 + 23    13.004416
8 + 44     11.862921
3 + 37     14.187195
5 + 15      9.449975
10 + 39    11.577352
4 + 29      9.011282
1 + 14      9.455872
10 + 22     8.038882
4 + 13      8.991173
6 + 26     14.149216
10 + 37    13.342242
3 + 42     14.272875
10 + 34    12.635398
5 + 43     12.123943
1 + 34     16.527450

Усредненная метрика:12.264888505517503

In [18]:
# создаем конвейер
pipe = Pipeline(
    model=lgbm_model,
    transforms=preprocess,
    horizon=HORIZON)
        
# находим метрики моделей по сегментам 
# по итогам перекрестной проверки
metrics_df, _, _ = pipe.backtest(
    mode='expand', 
    n_folds=4,
    ts=ts, 
    metrics=[smape], 
    aggregate_metrics=True)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[LightGBM] [Warning] min_data_in_leaf is set=120, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=120

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   29.6s remaining:    0.0s

[LightGBM] [Warning] min_data_in_leaf is set=120, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=120

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:   59.2s remaining:    0.0s

[LightGBM] [Warning] min_data_in_leaf is set=120, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=120

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:  1.5min remaining:    0.0s

[LightGBM] [Warning] min_data_in_leaf is set=120, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=120

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:  2.0min remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:  2.0min finished

In [19]:
# смотрим метрики по 4 тестовым выборках 
# для первых 2 сегментов
n_folds = 4
n_segments = 2
n = n_folds * n_segments
metrics_df.head(n)

  segment      SMAPE
0   1 + 1  18.315264
1  1 + 10  10.273194
2  1 + 11  10.049248
3  1 + 12  10.030497
4  1 + 13   9.160326
5  1 + 14  10.528913
6  1 + 15   9.019105
7  1 + 16  17.475485

In [20]:
# смотрим значение SMAPE, усредненное по сегментам
metric = metrics_df['SMAPE'].mean()
print(f'mean SMAPE: {metric:.4f}')

mean SMAPE: 12.1794

In [21]:
# создаем модель LGBMMultiSegmentModel
full_lgbm_model = LGBMMultiSegmentModel(
    n_estimators=150, 
    learning_rate=0.09,
    num_leaves=10,
    min_data_in_leaf=120,
    subsample=0.8)
# выполняем преобразования всего исторического набора
ts.fit_transform(preprocess)
full_lgbm_model.fit(ts)
# формируем набор, для которого нужно получить прогнозы,
# длина набора определяется горизонтом прогнозирования,
# по сути мы формируем набор новых данных
future_ts = ts.make_future(HORIZON, preprocess)
# получаем прогнозы для новых данных
forecast_ts = full_lgbm_model.forecast(
    future_ts)
forecast_ts.inverse_transform(preprocess)

[LightGBM] [Warning] min_data_in_leaf is set=120, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=120

In [22]:
# превращаем в обычный плоский датафрейм
forecast_ts = forecast_ts.to_pandas(flatten=True)
forecast_ts

,timestamp,segment,target,datetime_day_number_in_month,datetime_day_number_in_week,datetime_day_number_in_year,datetime_is_weekend,datetime_month_number_in_year,datetime_season_number,datetime_week_number_in_month,...,mean180,mean210,mean240,mean270,mean360,mean90,quarter,quarter_end,quarter_start,store
0,2018-01-01,1 + 1,12.351105,1,0,1,False,1,1,1,...,0.460990,0.568661,0.600874,0.584531,0.342744,0.054243,1,False,True,1
1,2018-01-02,1 + 1,13.373818,2,1,2,False,1,1,1,...,0.454386,0.569948,0.596523,0.583928,0.346177,0.063243,1,False,False,1
2,2018-01-03,1 + 1,13.737442,3,2,3,False,1,1,1,...,0.446869,0.566229,0.596518,0.584432,0.347135,0.063921,1,False,False,1
3,2018-01-04,1 + 1,14.981487,4,3,4,False,1,1,1,...,0.443482,0.564635,0.591482,0.586613,0.348932,0.066341,1,False,False,1
4,2018-01-05,1 + 1,15.689501,5,4,5,False,1,1,1,...,0.435817,0.570264,0.595876,0.589371,0.353664,0.063580,1,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,2018-03-27,9 + 9,50.482068,27,1,87,False,3,2,5,...,0.131325,0.228783,0.379544,0.562556,0.718444,-0.089464,1,False,False,9
44996,2018-03-28,9 + 9,52.223485,28,2,88,False,3,2,5,...,0.120750,0.222652,0.379913,0.559538,0.718684,0.015022,1,False,False,9
44997,2018-03-29,9 + 9,55.429529,29,3,89,False,3,2,5,...,0.110661,0.219666,0.378985,0.550685,0.723535,0.026021,1,False,False,9
44998,2018-03-30,9 + 9,59.886414,30,4,90,False,3,2,5,...,0.108328,0.209541,0.379793,0.553401,0.724526,-0.270939,1,False,False,9
44999,2018-03-31,9 + 9,61.914602,31,5,91,True,3,2,5,...,0.122074,0.194847,0.374453,0.549182,0.727236,0.000000,1,True,False,9

In [23]:
# формируем посылку
subm = (
    df_new.drop(['store', 'item'], axis=1)
    .merge(forecast_ts, on=['timestamp', 'segment'])
    ['target'].reset_index()
    .rename({'index': 'id', 'target': 'sales'}, axis=1)
    )
subm

          id      sales
0          0  12.351105
1          1  13.373818
2          2  13.737442
3          3  14.981487
4          4  15.689501
...      ...        ...
44995  44995  69.229315
44996  44996  71.421153
44997  44997  76.222190
44998  44998  82.150592
44999  44999  84.516893

[45000 rows x 2 columns]

In [24]:
# записываем посылку в виде CSV-файла
subm.to_csv('kaggle_store_item_demand_submission.csv', index=False)